<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item ">
      <a href="{% url 'student_list' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Students</div>
      </a>
    </li>
  
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
        <div data-i18n="Authentications">Issue Books</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="{% url 'issue_book' %}" class="menu-link" >
          <div data-i18n="Basic">Issue A Book</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="{% url 'view_issued_book' %}" class="menu-link" >
            <div data-i18n="Basic">View Issued Books</div>
          </a>
        </li>
      </ul>
    </li>
  
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
        <div data-i18n="Authentications">Books</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="{% url 'add_book' %}" class="menu-link">
            <div data-i18n="Basic">Add Book</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="{% url 'book_list' %}" class="menu-link" >
            <div data-i18n="Basic">View All Books</div>
          </a>
        </li>
      </ul>
    </li>
  
    <li class="menu-item ">
      <a href="#" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Request</div>
      </a>
    </li>
  
    <li class="menu-item ">
      <a href="#" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Accepted</div>
      </a>
    </li>
  
    <li class="menu-item ">
      <a href="#" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Returns</div>
      </a>
    </li>
  </ul>