{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en"  >

  
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Dashboard </title>
    
    <meta name="description" content="E-Library" />
    <meta name="keywords" content="dashboard, ">
    <!-- Canonical SEO -->
    <link rel="canonical" href="#">
    
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="https://demos.E-Library.com/sneat-bootstrap-html-admin-template-free/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap" rel="stylesheet">

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/boxicons.css' %}" />
    
    

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/css/core.css' %} " class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'assets/vendor/css/theme-default.css' %}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
    
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/apex-charts/apex-charts.css' %}" />

    <!-- Page CSS -->
    
    <!-- Helpers -->
    <script src="{% static 'assets/vendor/js/helpers.js' %}"></script>
    <script src="{% static 'assets/js/config.js' %}"></script>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID"></script>
    <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'GA_MEASUREMENT_ID');
    </script>
    <!-- Custom notification for demo -->
    <!-- beautify ignore:end -->

</head>

<body>

  <!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar  ">
  <div class="layout-container">

<!-- Menu -->

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

  <div class="app-brand demo ">
    <a href="index.html" class="app-brand-link">
      <span class="app-brand-logo demo">
        <img src="{% static 'assets/images/1.jpeg' %}" alt="">
</span>
<span class="app-brand-text demo menu-text fw-bolder ms-2">Sneat</span>
</a>
<a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
  <i class="bx bx-chevron-left bx-sm align-middle"></i>
</a>
</div>

<div class="menu-inner-shadow"></div>
{% include 'admin_templates/admin_sidebar.html' %}

</aside>
<!-- / Menu -->
    <!-- Layout container -->
    <div class="layout-page">
<!-- Navbar -->
<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
      
<div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0   d-xl-none ">
  <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
    <i class="bx bx-menu bx-sm"></i>
  </a>
</div>
    
<div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse"> 
<!-- Search -->
<div class="navbar-nav align-items-center">
  <div class="nav-item d-flex align-items-center">
    <i class="bx bx-search fs-4 lh-0"></i>
    <input type="text" class="form-control border-0 shadow-none" value="Search..." aria-label="Search...">
  </div>
</div>
<!-- /Search -->
{% include 'admin_templates/admin_navbar.html' %}
</div>
</nav>

<!-- / Navbar -->
 <!-- Content wrapper -->
 <div class="content-wrapper">

    <!-- Content -->
    
      <div class="container-xxl flex-grow-1 container-p-y">
        
        
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span> Edit Book</h4>

<!-- Basic Layout & Basic with Icons -->
<div class="row">
<!-- Basic Layout -->
<div class="col-xxl">
<div class="card mb-4">
  
  <div class="card-body">
    <form action="#" method="post">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col">
            <label class="col-sm-2 col-form-label" for="basic-default-title">Title</label>
            <input type="text" class="form-control" name="title" id="title" value="{{books.title}}" id="basic-default-title">
            </div>
            <div class="col">
            <label class="col-sm-2 col-form-label" for="basic-default-category">Category</label>
            <input type="text" class="form-control" name="category" id="category" value="{{ books.category }}" id="basic-default-category">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
            <label class="col-sm-2 col-form-label" for="basic-default-author">Author</label>
            <input type="text" class="form-control" name="author" id="author" value="{{ books.author }}" id="basic-default-author">
            </div>
            <div class="col">
            <label class="col-sm-2 col-form-label" for="basic-default-copies">Copies</label>
            <input type="text" class="form-control" name="copies" id="copies" value="{{ books.copies }}" id="basic-default-copies">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
            <label class="col-sm-3 col-form-label" for="basic-default-publication">Publication</label>
            <input type="text" class="form-control" name="publication" id="publication" value="{{ books.publication }}" id="basic-default-publication">
            </div>
            <div class="col">
            <label class="col-sm-2 col-form-label" for="basic-default-pubname">Pub Name</label>
            <input type="text" class="form-control" name="pub_name" id="pub_name" value="{{ books.pub_name }}" id="basic-default-pub_name">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
            <label class="col-sm-2 col-form-label" for="basic-default-isbn">ISBN</label>
            <input type="text" class="form-control" name="isbn" id="isbn" value="{{ books.isbn }}" id="basic-default-isbn">
            </div>
            <div class="col">
            <label class="col-sm-2 col-form-label" for="basic-default-copyright">Copy Right</label>
            <input type="text" class="form-control" name="copyright" id="copyright" value="{{ books.copyright }}" id="basic-default-copyright">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
            <label class="col-sm-3 col-form-label" for="basic-default-date">Date Added</label>
            <input type="date" class="form-control" name="Date_added" id="Date_added" value="{{ books.Date_added}}" id="basic-default-date">
            </div>
            <div class="col">
            <label class="col-sm-2 col-form-label" for="basic-default-status">Status</label>
            <input type="text" class="form-control" name="status" id="status" value="{{ books.status }}" id="basic-default-status">
            </div>
        </div>
        <div class="row">
            {% if messages %}
           <div class="col-12">
              {% for message in messages %}
              {% if message.tags == 'error' %}
              <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
              {% endif %}
              {% if message.tags == 'success' %}
              <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
              {% endif %}
              {% endfor %}
            </div>
            {% endif %}
        </div>    
      <div class="row justify-content-end">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
</div>

</div>
<!-- / Content -->
<!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
<div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
<div class="mb-2 mb-md-0">
© <script>
document.write(new Date().getFullYear())
</script>
, made with ❤️ by <a href="#"  class="footer-link fw-bolder">E-Library</a>
</div>
<div>

</div>
</div>
</footer>
<!-- / Footer -->
  <div class="content-backdrop fade"></div>
  </div>
  <!-- Content wrapper -->
</div>
<!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
</div>

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
<script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
<script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
<script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

<script src="{% static 'assets/vendor/js/menu.js' %}"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="{% static 'assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'assets/js/main.js' %}"></script>

<!-- Page JS -->
<script src="{% static 'assets/js/dashboards-analytics.js' %}"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="../../../buttons.github.io/buttons.js"></script>
{% block js %}


<script>
    {% if alert %}
    alert("Book Edit Success.")
    document.location = "book_list"
    {% endif %}
</script>
{% endblock %}
</body>

</html>