{% extends 'student_templates/student_base.html' %}
{% load static %}
{% static "images" as baseUrl %}
{% block title %} InfoJini- Edit Profile {% endblock %}
{% block css %}
{% endblock %}
{% block body %}

  <!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar  ">
  <div class="layout-container">

  {% include 'student_templates/student_sidebar.html' %}
<!-- Content wrapper -->
<div class="content-wrapper">

<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
  
      
<h4 class="fw-bold py-3 mb-4">
<span class="text-muted fw-light">Account Settings /</span> Account
</h4>

<div class="row">
<div class="col-md-12">
<div class="shadow-lg card mb-4">
<h5 class="card-header">Profile Details</h5>
<!-- Account -->
<div class="card-body">
  <div class="d-flex align-items-start align-items-sm-center gap-4">
      <form id="formAccountSettings" action="student_edit_profile" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <img src="{% static 'assets/images/users/user-100.png' %}" alt="user-avatar" class="d-block rounded" height="100" width="100" id="uploadedAvatar" />
    <div class="button-wrapper">
      <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
        <!-- <span class="d-none d-sm-block">Upload new photo</span> -->
        <i class="bx bx-upload d-block d-sm-none"></i>
        <input type="file" name="profile_pic" id="profile_pic" class="account-file-input"  accept="image/png, image/jpeg" />
      </label>
      <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
        <i class="bx bx-reset d-block d-sm-none"></i>
        <span class="d-none d-sm-block">Reset</span>
      </button>

      <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
    </div>
  </div>
</div>
<hr class="my-0">
<div class="card-body">
    <div class="row">
      <div class="mb-3 col-md-6">
        <label for="username" class="form-label">User Name</label>
        <input class="form-control" type="text" id="username" name="username" value="{{user.username}}" autofocus />
      </div>
      <div class="mb-3 col-md-6">
        <label for="email" class="form-label">E-mail</label>
        <input class="form-control" type="email" id="email" name="email"  value="{{user.email}}" />
      </div>
      <div class="mb-3 col-md-6">
        <label for="Department" class="form-label">Department</label>
        <input type="text" class="form-control" id="Department" name="Department" value="{{user.student.Department}}" />
      </div>
      <div class="mb-3 col-md-6">
        <label class="form-label" for="phone">Phone Number</label>
        <div class="input-group input-group-merge">
          <input type="text" id="phone" name="phone" class="form-control" value="{{user.student.phone}}" />
        </div>
      </div>
      <div class="mb-3 col-md-6">
        <label for="adm_number" class="form-label">Admission Number</label>
        <input type="text" class="form-control" id="adm_number" name="adm_number" value="{{user.student.adm_number}}" />
      </div>
    <div class="mt-2">
      <button type="submit" class="btn btn-primary me-2">Save Changes</button>
      <button type="reset" class="btn btn-outline-secondary">Cancel</button>
    </div>
  </form>
</div>
<!-- /Account -->
</div>
</div>
</div>
  
</div>
<!-- / Content -->

<!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
<div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
<div class="mb-2 mb-md-0">
© <script>
document.write(new Date().getFullYear())
</script>
, made with ❤️ by <a href="#" target="_blank" class="footer-link fw-bolder">InfoJini</a>
</div>
<div>

</div>
</div>
</footer>
<!-- / Footer -->
<div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
</div>
<!-- / Layout page -->
</div>
{% endblock %}