{% extends 'student_templates/student_base.html' %}
{% load static %}
{% static "images" as baseUrl %}
{% block title %} InfoJini- Student Profile {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar  ">
<div class="layout-container">

{% include 'student_templates/student_sidebar.html' %}
<!-- Content wrapper -->
<div class="content-wrapper">

<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
  
        
<h4 class="fw-bold py-3 mb-4">
<span class="text-muted fw-light">Account Settings /</span> Account
</h4>

<div class="row">
<div class="col-md-12">
<div class="card mb-4">
  <h5 class="card-header">Profile Details</h5>
  <!-- Account -->
  <div class="card-body">
    <div class="d-flex align-items-start align-items-sm-center gap-4">
      <img src="{{user.student.profile_pic}}" alt="user-avatar" class="d-block rounded-circle" style="width:80px;height: 80px;" id="uploadedAvatar" />
      <!-- <div class="button-wrapper">
        <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
          <span class="d-none d-sm-block">Upload new photo</span>
          <i class="bx bx-upload d-block d-sm-none"></i>
          <input type="file" id="upload" class="account-file-input" hidden accept="image/png, image/jpeg" />
        </label>
        <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
          <i class="bx bx-reset d-block d-sm-none"></i>
          <span class="d-none d-sm-block">Reset</span>
        </button>

        <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
      </div> -->
    </div>
  </div>
  <hr class="my-0">
  <div class="card-body">
    <form id="formAccountSettings" method="POST" onsubmit="return false">
      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="username" class="form-label">User Name</label>
          <input class="form-control" type="text" id="username" name="username" value="{{user.username}}" autofocus />
        </div>
        <div class="mb-3 col-md-6">
          <label for="email" class="form-label">E-mail</label>
          <input class="form-control" type="email" id="email" name="email"  value="{{user.email}}" />
        </div>
        <div class="mb-3 col-md-6">
          <label for="Department" class="form-label">Department</label>
          <input type="text" class="form-control" id="Department" name="Department" value="{{user.student.Department}}" />
        </div>
        <div class="mb-3 col-md-6">
          <label class="form-label" for="phone">Phone Number</label>
          <div class="input-group input-group-merge">
            <input type="text" id="phone" name="phone" class="form-control" value="{{user.student.phone}}" />
          </div>
        </div>
        <div class="mb-3 col-md-6">
          <label for="adm_number" class="form-label">Admission Number</label>
          <input type="text" class="form-control" id="adm_number" name="adm_number" value="{{user.student.adm_number}}" />
        </div>
      <div class="mt-2">
        <a href="{% url 'student_edit_profile'%}" type="button" class="btn btn-outline-primary">Edit Changes</a>
        <button type="reset" class="btn btn-outline-secondary">Cancel</button>
      </div>
    </form>
  </div>
  <!-- /Account -->
</div>
</div>
</div>
   
</div>
<!-- / Content -->

{% endblock %}