{% load static %}
{% static "images" as baseUrl %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="E-Library" />
    <meta
      name="viewport"
      content="minimum-scale=1,initial-scale=1,width=device-width,shrink-to-fit=no"/>
    <!-- Favicon-->
    <link
      rel="shortcut icon"
      href="https://skyone.vercel.app/education/assets/favicons/favicon.ico"
    />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="{% static 'assets/favicons/apple-icon-57x57.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{% static 'assets/favicons/apple-icon-60x60.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="{% static 'assets/favicons/apple-icon-72x72.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="{% static 'assets/favicons/apple-icon-76x76.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="{% static 'assets/favicons/apple-icon-114x114.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="{% static 'assets/favicons/apple-icon-120x120.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="{% static 'assets/favicons/apple-icon-144x144.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="{% static 'assets/favicons/apple-icon-152x152.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'assets/favicons/apple-icon-180x180.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="{% static 'assets/favicons/android-icon-192x192.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'assets/favicons/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'assets/favicons/favicon-16x16.png' %}"
    />
    <link
      rel="manifest"
      href="https://skyone.vercel.app/education/assets/favicons/manifest.json"
    />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="{% static 'assets/favicons/ms-icon-144x144.png' %}"
    />
    <!-- PWA primary color-->
    <meta name="theme-color" content="#00BCD4" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/ionicons-2.0.1/css/ionicons.min.css' %}"
    />
    <!-- Facebook-->
    <meta property="author" content="nirwana" />
    <meta property="og:site_name" content="alexstrap.ux-maestro.com" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <!-- Twitter-->
    <meta property="twitter:site" content="nirwana.ux-maestro.com" />
    <meta property="twitter:domain" content="nirwana.ux-maestro.com" />
    <meta property="twitter:creator" content="nirwana" />
    <meta property="twitter:card" content="summary" />
    <meta
      property="twitter:image:src"
      content="{% static 'assets/images/logo-education.png' %}"
    />
    <meta property="og:url" content="nirwana.indisains.com/education" />
    <meta property="og:title" content="Education" />
    <meta
      property="og:description"
      content="E-Library"
    />
    <meta name="twitter:site" content="nirwana.indisains.com/education" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="../../images/logo-education.html" />
    <meta property="og:image" content="../../images/logo-education.html" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <title>LMS - About</title>
    <!-- Styles-->
    <link href="{% static 'assets/css/education-bundle.min.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div
      id="preloader"
      style="
        position: fixed;
        z-index: 10000;
        background: #fafafa;
        width: 100%;
        height: 100%;
      "
    >
      <img
        style="
          opacity: 0.2;
          position: fixed;
          top: calc(50% - 50px);
          left: calc(50% - 50px);
        "
        src="{% static 'assets/images/loading.gif' %}"
        alt="loading"
      />
    </div>
    <div class="m-application theme--light transition-page" id="app">
      <div class="loading"></div>
      <div class="m-content smart smart-var" id="main-wrap">
       
        <div id="about-page">
          <div class="main-wrap">
            <!-- #### HEADER ####-->
            <div class="sidenav mobile-nav" id="slide_menu">
              <div class="side-multilv">
                <div class="collection side-multilv">
                  <ul class="collapsible expandable">
                    <li class="collection-item">
                      <a
                        class="sidenav-close waves-effect menu-list"
                        href="{% url 'about_us' %}"
                        >About</a>
                    </li>
                    <li class="collection-item">
                      <a
                        class="sidenav-close waves-effect menu-list"
                        href="{% url 'contact_us' %}"
                        >Contact</a>
                    </li>
                  </ul>
                </div>
                <div class="dropdown-divider"></div>
                <div class="collection">
                  <ul>
                    <li class="collection-item">
                      <a
                        class="sidenav-close waves-effect menu-list"
                        href="{% url 'show_login' %}"
                        >Login</a
                      >
                    </li>
                    <li class="collection-item">
                      <a
                        class="sidenav-close waves-effect menu-list"
                        href="{% url 'register' %}"
                        >register</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
          </div>
          <header class="app-bar header" id="header">
          <div class="container">
              <div class="header-content">
              <nav class="nav-menu">
                  <button
                  class="btn-icon waves-effect sidenav-trigger hamburger hamburger--spin show-md-down"
                  id="mobile_menu"
                  type="button"
                  data-target="slide_menu"
                  >
                  <span class="hamburger-box"
                      ><span class="bar hamburger-inner"></span
                  ></span>
                  </button>
                  <div class="logo">
                    <a href="/">
                      <span class="logo-main landscape medium"><img
                          src="{% static 'assets/images/1.jpeg' %}"
                          alt="logo"/>LMS</span>
                  </a>
                  </div>
                  <div
                  class="scrollactive-nav scrollnav show-lg-up multi-menu"
                  >
                  <ul class="main-menu">
                      <li>
                      <a
                          class="btn btn-flat anchor-link waves-effect"
                          href="{% url 'about_us' %}"
                          >About </a
                      >
                      </li>
                      <li>
                      <a
                          class="btn btn-flat anchor-link waves-effect"
                          href="{% url 'contact_us' %}">Contact</a>
                      </li>
                  </ul>
                  </div>
                  <nav class="user-menu">
                  <a
                      class="btn btn-flat waves-effect show-sm-up"
                      href="{% url 'show_login' %}"
                      >Login</a
                  >
                  <a
                      class="btn waves-effect primary show-sm-up"
                      href="{% url 'register' %}"
                      >register</a>
                  <span class="spacer vertical-divider show-lg-up"></span>
                  </nav>
              </nav>
              <div id="container_menu"></div>
              </div>
          </div>
          </header>
            <!-- #### END HEADER ####-->
            <div class="container-front">
              <!-- ##### BANNER #####-->
              <div class="hero-banner-wrap">
                <div class="bg-deco"></div>
                <div class="container small-deco"><div></div></div>
                <div class="container">
                  <div class="banner-basic">
                    <div class="banner-wrap">
                      <div class="inner">
                        <div
                          class="row d-flex justify-content-center align-items-center"
                        >
                          <div class="col-md-6 px-sm-5 px-0 py-4">
                            <div class="text">
                              <div class="title title-left">
                                <h4 class="use-text-title2">
                                 About Us
                                </h4>
                              </div>
                              <h5 class="use-text-subtitle2">
                             Our Mission is to diversify the tech industry through 
                             accessible education and apprenticeship, unlocking the
                             door to opportunity and empowering people to achieve
                             their dreams.
                              </h5>
                            </div>
                          </div>
                          <div class="col-md-6 px-sm-5 py-4">
                            <div class="img">
                              <img
                                class="img-2d3d"
                                src="{% static 'assets/images/about-page_3d_2x_omiw8f.png' %}"
                                alt="services 3d"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ##### BANNER #####-->
            </div>
            <!-- ##### CALL ACTION #####-->
            <section class="bottom-deco-wrap space-top space-bottom-short">
              <div class="footer-top-deco">
                <div
                  class="wow zoomInShort"
                  data-wow-offset="0"
                  data-wow-delay="0.2s"
                  data-wow-duration="0.3s"
                >
                  <img
                    class="img-2d3d"
                    src="{% static 'assets/images/footer_3d_2x_tivfcv.png' %}"
                    alt="footer"
                  />
                </div>
              </div>
              <div class="call-to-action">
                <div class="container fixed-width-md-up">
                  <div class="root">
                    <div class="card paper">
                      <div class="row align-items-center mb-0">
                        <div class="col-md-8 pa-0">
                          <h4 class="use-text-title2 pb-2 use-text-primary">
                            Ready to get started ?
                          </h4>
                          <p class="use-text-subtitle2">
                            Pellentesque ac bibendum tortor. Nulla eget lobortis
                            lacus.
                          </p>
                        </div>
                        <div class="col-md-4 pa-0">
                          <div
                            class="d-flex align-items-center justify-content-end"
                          >
                            <a
                              class="waves-effect btn button primary"
                              href="{% url 'contact_us' %}"
                              >contact us</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- ##### END CALL ACTION #####-->
            <!-- ##### FOOTER #####-->
            {% include 'footer.html' %}
            <!-- ##### END FOOTER #####-->
          </div>
        </div>
      </div>
    </div>
    <!-- Scripts-->
    <script src="{% static 'assets/js/education-bundle.min.js' %}"></script>
    <script
      async=""
      defer=""
      src="https://maps.googleapis.com/maps/api/js?callback=initMap"
    ></script>
  </body>

</html>
